@font-face {
  font-family: "Heading";
  src: url(/assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Body";
  src: url(/assets/fonts/manrope/static/Manrope-Regular.ttf) format("truetype");
}

:root {
  --Dark-Purple: hsl(273, 85%, 13%);
  --Tiffany-Green: hsl(150, 100%, 63%);
  --Medium-Purple: hsl(271, 12%, 34%);
  --Light-Purple: hsl(276, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

/*
  CREDIT TO: https://www.joshwcomeau.com/css/custom-css-reset/ 
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  line-height: 28px;
  font-family: "Body";
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul li {
  list-style-type: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* -- Header -- */
.navagation ul {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.navagation ul li a {
  padding-right: 1rem;
  text-decoration: underline;
  text-decoration-color: var(--Tiffany-Green);
  text-decoration-thickness: 2.5px;
  text-underline-offset: 8px;
  font-weight: 600;
}

.navagation ul li img {
  padding-left: 1rem;
}

.navagation ul li a,
.hero a {
  color: var(--White);
}

.navagation ul,
.hero {
  background-color: var(--Dark-Purple);
  color: var(--White);
}

/* -- Hero -- */
.hero {
  padding-top: 4rem;
  padding-bottom: 8rem;
}

.hero h1 {
  font-family: "Heading";
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 3rem;
}

.hero::after {
  content: "";
  position: absolute;
  background-color: var(--Dark-Purple);
  border-bottom-left-radius: 600% 250px;
  border-bottom-right-radius: 600% 250px;
  height: 2.1%;
  width: 100%;
  bottom: 57.2%;
}

.h1__underline {
  position: relative;
}

.h1__underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 3px;
  background-color: var(--Tiffany-Green);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 133px;
  height: 55px;
  margin: 0 auto;
  border: 2px solid var(--Tiffany-Green);
  background-color: var(--Tiffany-Green);
}

.button a {
  text-decoration: none;
  color: var(--Dark-Purple);
  font-weight: 900;
}

.button::after {
  content: "";
  position: absolute;
  background-image: url(/assets/images/image-hero.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 320px;
  height: 184px;
  bottom: 49%;
  z-index: 1;
}

/* -- Benefits -- */
.benefits {
  text-align: center;
  padding-top: 12rem;
  background-color: var(--Light-Purple);
  margin: 0 auto;
  border-bottom-left-radius: 600% 250px;
  border-bottom-right-radius: 600% 250px;
  height: 2.1%;
  width: 100%;
  bottom: 57.2%;
}

.benefits__container h2 {
  font-family: "Heading";
  font-size: 28px;
}

.benefits p {
  color: var(--Medium-Purple);
}

.benefits__number {
  font-family: "Heading";
  font-size: 20px;
  font-weight: 600;
}

.benefits .benefits__container:first-child p {
  margin-bottom: 40px;
}

.benefits .benefits__container:nth-child(2) p {
  width: 89%;
}

.benefits .benefits__container:nth-child(3) p {
  width: 94%;
  padding-bottom: 3rem;
}

.benefits__container h2,
.benefits__number {
  color: var(--Dark-Purple);
}

.benefits .benefits__container h2 {
  margin-top: 24px;
  margin-bottom: 16px;
}

.benefits .benefits__container:nth-child(2) p,
.benefits .benefits__container:nth-child(3) p {
  margin: 0 auto 40px;
}

.benefits .benefits__container .benefits__number {
  display: inline-block;
  width: 40px;
  border-radius: 50%;
  border: 1px solid var(--Medium-Purple);
  text-align: center;
  line-height: 36px;
}
